secret_key_base: <%= Rails.application.credentials.secret_key_base %>
production:
  AWS_ACCESS_KEY_ID: AKIA5HWSW6ORNAPAMZOC
  AWS_SECRET_ACCESS_KEY: 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

secret_key_base: <%= Rails.application.credentials.secret_key_base %>
secret_key_base: <%= Rails.application.credentials.secret_key_base %>
