// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.product-img-cart {
  max-width: 140px;
  text-align: center;
  margin: 0 auto;
}
.product-img-cart img {
  width: 100%;
}