// Place all the styles related to the Products controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/
.product-wrap {
  text-align: center;
}
.product-detail-wrap {
  margin-top: 50px;
}
.products-list {
  position: relative;
  padding: 50px 10px;
  border: 1px solid #ffffff;
  border-bottom: 3px solid #ffffff;
}

.product-title {
  font-family: 'Anton', sans-serif;
  font-size: 22px;
}
.product-title-detail {
  font-family: 'Anton', sans-serif;
  font-size: 32px;
}
.product-category {
  color: #999999;
  font-size: 12px;
  text-transform: uppercase;
}
.product-price {
  position: absolute;
  top: 5px;
  right: 10px;
  font-family: 'Bebas Neue', cursive;
  color: #7e0019;
  font-size: 40px;
}
.product-price-details {
  font-family: 'Bebas Neue', cursive;
  color: #7e0019;
  font-size: 40px;
}
.products-list:hover {
  transition: .5s;
  border: 1px solid #dbddde;
  cursor: pointer;
  border-bottom: 3px solid #000000;
  box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.2);
}

.logo-style {
  font-family: 'Mr Dafoe', cursive;
  font-size: 30px !important;
}

.bg-dark-custom {
  background-color: #7e0019;
}
.bg-dark-custom a {
  background-color: transparent;
}
.btn-custom-light {
  background-color: white;
  padding: 5px 10px;
  color: #7e0019;
  border-radius: 0;
  border: 2px solid #7e0019;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
}
.btn-custom-light:hover {
  background-color: #7e0019;
  color: #ffffff;
  border: 2px solid #7e0019;
  transition: .5s;
}
.product-description-details {
  margin-top: 50px;
  font-family: 'Bebas Neue', cursive;
  color: #999999;
}
.product-description-details h3 {
  font-family: 'Bebas Neue', cursive;
  border-bottom: 2px solid #7e0019;
  color: #000000;
}
.filter-wrap {
  font-family: 'Bebas Neue', cursive;
  padding: 10px 20px;
  border: 1px solid #dbddde;
  margin-bottom: 30px;
  text-align: left;
}
.filter-list {
  display: inline-block;
  margin: 10px;
}
.form-control {
  border-radius: 0 !important;
  min-width: 300px;
  font-family: 'Bebas Neue', cursive;
  border: 2px solid white;
}
.btn-light {
  border-radius: 0 !important;
}
.form-input-number {
  border-radius: 0 !important;
  width: 100px;
  padding: 3px 5px;
  font-family: 'Bebas Neue', cursive;
  border: 2px solid #7e0019;
}
.btn-transparent-light {
  background-color: white;
  padding: 3px 5px;
  color: #7e0019;
  border-radius: 0;
  border: none;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
}
.btn-transparent-light:hover {
  color: #707070;
  transition: .5s;
}

