// Place all the styles related to the Products controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/
.product-wrap {
  text-align: center;
}

.product-detail-wrap {
  margin-top: 50px;
}

.products-list {
  position: relative;
  padding: 50px 10px;
  border: 1px solid #ffffff;
  border-bottom: 3px solid #ffffff;
}
.product-img {
  max-width: 350px;
  text-align: center;
  margin: 0 auto;
}
.product-img img {
  width: 100%;
}


.product-title {
  font-family: 'Anton', sans-serif;
  font-size: 22px;
  position: relative;
}
.product-title a {
 color: black;
}
.product-title a:hover {
  color: #7e0019;
  background-color: white;
  text-decoration: none;
}

.product-rating {
  text-align: right;
}

.product-rating i {
  color: #ff8400;
}

.product-title-detail {
  font-family: 'Anton', sans-serif;
  font-size: 32px;
}

.product-category {
  color: #999999;
  font-size: 12px;
  text-transform: uppercase;
}

.product-price {
  position: absolute;
  top: 5px;
  right: 10px;
  font-family: 'Bebas Neue', cursive;
  color: #7e0019;
  font-size: 40px;
}

.product-price-details {
  font-family: 'Bebas Neue', cursive;
  color: #7e0019;
  font-size: 40px;
}

.products-list:hover {
  transition: .5s;
  border: 1px solid #dbddde;
  cursor: pointer;
  border-bottom: 3px solid #000000;
  box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.logo-style {
  font-family: 'Mr Dafoe', cursive;
  font-size: 30px !important;
}

.bg-dark-custom {
  background-color: #7e0019;
}

.bg-dark-custom a {
  background-color: transparent;
}

.btn-custom-light {
  background-color: white;
  padding: 5px 10px;
  color: #ffffff;
  border-radius: 0;
  border: 2px solid #7e0019;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Bebas Neue', cursive;
}

.btn-custom-light a {
  background-color: transparent;
  color: white !important;
}

.btn-custom-light:hover {
  background-color: #7e0019;
  color: #ffffff;
  border: 2px solid #7e0019;
  transition: .5s;
  text-decoration: none;
}

.product-description-details {
  font-family: 'Bebas Neue', cursive;
  color: #999999;
  position: relative;
}

.product-description-details h3 {
  font-family: 'Bebas Neue', cursive;
  border-bottom: 2px solid #7e0019;
  color: #000000;
}

.filter-wrap {
  font-family: 'Bebas Neue', cursive;
  padding: 10px 20px;
  border: 1px solid #dbddde;
  margin-bottom: 30px;
  text-align: left;
}

.filter-list {
  display: inline-block;
  margin: 10px;
}

.form-control {
  border-radius: 0 !important;
  min-width: 300px;
  font-family: 'Bebas Neue', cursive;
  border: 2px solid white;
}

.btn-light {
  border-radius: 0 !important;
}

.form-input-number {
  border-radius: 0 !important;
  width: 100px;
  padding: 3px 5px;
  font-family: 'Bebas Neue', cursive;
  border: 2px solid #7e0019;
  line-height: 1;
}

.btn-transparent-light {
  background-color: transparent;
  padding: 3px 5px;
  color: #7e0019 !important;
  border-radius: 0;
  border: none;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
}
.btn-transparent-light:hover {
  background-color: transparent;
}

.btn-transparent-light i:hover {
  color: #707070;
  transition: .1s;
  background-color: transparent !important;
}
.btn-transparent-light a:hover {
  color: #7a7a7a;
  background-color: transparent !important;
}

.btn-custom-dark {
  background-color: #7e0019;
  color: #ffffff;
  border: 2px solid #7e0019;
  padding: 3px 10px;
  font-family: 'Bebas Neue', cursive;
  border-radius: 0;
}

.btn-custom-dark:hover {
  background-color: #ffffff;
  color: #7e0019;
  border: 2px solid #7e0019;
  transition: .5s;
  text-decoration: none;
}

.btn-custom-dark:hover a {
  text-decoration: none;
}
.navbar-nav {
  font-family: 'Bebas Neue', cursive;
  font-size: 18px;
}
.comment-body {
  padding: 20px 10px;
  position: relative;
  color: black;
  background-color: #dedede;
  font-size: 16px;
  font-family: 'Bebas Neue', cursive;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 10px;
}
.edit-buttons {
  position: absolute;
  right: 5px;
  bottom: 2px;
}
.review-info {
  position: relative;
}
.review-rating {
  position: absolute;
  right: 5px;
  top: 0
}
.review-rating i {
  color: #ff8400;
}

.product-review-create {
  position: absolute;
  right: 0;
  top: 0;
}

